// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

body {
  background-color: #ece4e4;
}
/**
* Simple use of css grids
*/

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  justify-content: center;
  margin: 4rem;
  box-shadow: 0 2rem 4rem 0.2rem rgba(63, 2, 33, 0.205);
  .grid-items {
    margin: 10px;
    padding: 20px;
    color: #3f0220;
    border: 1px solid rgba(63, 2, 33, 0.205);
    text-align: center;
    font-size: 2rem;
    img {
      width: 100%;
    }
  }
}

@import "./components/selectable";
